@charset "UTF-8";

table.common_link {
	width: 90%;
	margin: 1rem auto;
}

table.common_link tr {
	display:flex;
	align-items: center;
	justify-content: space-around;
}

table.common_link td {
	text-align: center;
	padding: 1rem;
}